* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.cafe {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin: 50px;
}

.name, a {
    color: white;
}

.navbar {
    background-color: #3c50cc;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    margin-right: 50px;
    gap: 70px;
}

.overview {
    background-color: #8694e6;
    display: flex;
    padding: 25px;
}

h2 {
    margin-bottom: 25px;
}

.hook {
    width: 50%;
}

.store {
    height: 100px;
    width: 100px;
}